<%- include("partials/header") -%>



<h1>About</h1>

<img style="width:10%;height:10%;display:block;margin-left: auto;margin-right: auto;padding-top:2%;padding-bottom:5%;" src="images/resumae pic.png" alt="">

<p>Abid Ali currently finishing his Bachelor of Technology in Electronics and Communication Engineering. He has a keen interest in Electronics and web development. He is always eager to learn new skills and to the core believes that every new skill is a dot and an Idea, an Innovation is merely a pattern that connects these dots. He is obsessed with fitness, working out for the last four years, recovered from severe injury and keeps pushing himself to stay fit and active.</p>

<p>
    He is interested in developing web applications and fond of bikes, loves to swim and read books, workout daily , cooks in weekends. He also completed a semester in food nutrition and health at his university. He recently started writing fitness blogs at FIT FURY to share his experiences and knowledge about workout planning, nutrition and especially Injury Prevention.
  </p>
<%- include("partials/footer") -%>
